<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CHUNITHM Score &Songs Viewer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music_search.css') }}">

</head>
<body>
    <header>
        <nav>
        <a href="{{ url_for('views.index') }}">首页</a>
        <a href="{{ url_for('views.show_cards') }}">成绩卡</a>
        <a href="{{ url_for('views.music_search') }}">乐曲查询</a>
    </nav>
    <h1>CHUNITHM 成绩&歌曲查看器</h1>

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 pa5's CHUNITHM Viewer</p>
    </footer>

    <script src="{{ url_for('static', filename='js/music_search.js') }}"></script>
</body>
</html>